<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Serving Static File</title>
</head>
<body>
    <div class="card">
        <h2>Welcome to Demo API</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At expedita voluptatibus fuga nihil distinctio maiores natus, est velit itaque, veritatis iste. Maiores cum ullam voluptate possimus, perspiciatis necessitatibus obcaecati sed!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, a? Eius rerum placeat cumque in veniam error dolore, itaque ad?</p>
    </div>
</body>
</html>